<div class="header">
  <div class="header-content">
    Simple Form
  </div>
</div>
<div class="container">
  <div class="row justify-content-center pt-4 mt-4 ">

    <div class="col-12 col-md-12 pt-2">
      <form [formGroup]="smlNgValidationForm">

        <div class="row  justify-content-center">
          <div class="col-12 col-md-10">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label class="form-label">Enter Name<sup>*</sup> </label>
                  <input type="text" formControlName="name" (keypress)="validation.allowOnly('AlphaWithSpace',$event)"
                    class="form-control">
                  <div class="form-feedback"
                    *ngIf="smlNgValidationFormControls?.name?.invalid && (smlNgValidationFormControls?.name.dirty || smlNgValidationFormControls?.name?.touched)">
                    <p class=" v-error" *ngIf="smlNgValidationFormControls?.name?.errors?.required">
                      Required </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label class="form-label">Enter Alpha between g to o <sup>*</sup> </label>
                  <input type="text" formControlName="telephone"
                    (keypress)="validation.userDefinedRegex($event,'g' ,'o')" class="form-control">
                    <div class="form-feedback"
                    *ngIf="smlNgValidationFormControls?.telephone?.invalid && (smlNgValidationFormControls?.telephone.dirty || smlNgValidationFormControls?.telephone?.touched)">
                    <p class=" v-error" *ngIf="smlNgValidationFormControls?.telephone?.errors?.required">
                      Required </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label class="form-label">Enter Email <sup>*</sup> </label>
                  <input type="text" formControlName="email" class="form-control"
                    (keypress)="validation.EmailId($event)">
                    <div class="form-feedback"
                    *ngIf="smlNgValidationFormControls?.email?.invalid && (smlNgValidationFormControls?.email.dirty || smlNgValidationFormControls?.email?.touched)">
                    <p class=" v-error" *ngIf="smlNgValidationFormControls?.email?.errors?.required">
                      Required </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label class="form-label">Address <sup>*</sup> </label>
                  <input type="text" formControlName="address" (keypress)="validation.anchorStringStartEnd($event)"
                    class="form-control">
                    <div class="form-feedback"
                    *ngIf="smlNgValidationFormControls?.address?.invalid && (smlNgValidationFormControls?.address.dirty || smlNgValidationFormControls?.address?.touched)">
                    <p class=" v-error" *ngIf="smlNgValidationFormControls?.address?.errors?.required">
                      Required </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2  pt-4 mt-1">
            <div class="row">
              <div class="col-12 col-md-3 ">
                <div class="form-group">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>



</div>